.app {
    font-family: "Trebuchet MS", "Lucinda Grande", Verdana, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: pink;
    margin: 15px;
    color: white;
    border-radius: 10px;
    padding: 0 40px 10px 40px;
}

.question-box span {
    text-align: left;
    color: palevioletred;
}

.question-buttons {
    display: flex;
    flex-direction: row;
}

.question-button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: palevioletred;
    color: white;
}

.question-button:disabled {
    background-color: lightgrey;
    color: black;
}

.question-button.bg-green {
    background-color: green;
    color: white;
}

.question-button.bg-red {
    background-color: red;
    color: white;
}

.answer-display {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-display.correct {
    color: green;
}

.answer-display.wrong {
    color: red;
}